* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

.Btn {
  background-color: 0;
  border: 1px solid black;
  padding: 10px 40px;
  cursor: pointer;
}
.top-count {
  display: flex;
  justify-content: space-between;
}

.Time-container {
  text-align: center;
}
.control-buttons {
  margin-top: 10px;
}
